
<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <%= render "form" %> 

</ul>




   


<%= link_to "See Topics", topics_path %> 
<p><%= link_to "New Topic", new_topic_path %></p>